DEBUG = True

DATABASE_URL=postgresql+asyncpg://refero:refero@db:5432/refero_db
TEST_DATABASE_URL=postgresql+asyncpg://postgres:postgres@test-db:5432/refero_test

SECRET_KEY = 7BRS9QXxnX/2UtZ3v0/1txd28lBsrzFQU1hlKzrsj2I=
ACCESS_TOKEN_EXPIRE_MINUTES = 15
REFRESH_TOKEN_EXPIRE_DAYS = 30