# -*- coding: utf-8 -*-
fastapi
python-multipart
psycopg2-binary
uvicorn[standart]
pydantic-settings
asyncpg
alembic
python-jose
email-validator
watchfiles
pytest
pytest-asyncio
httpx
aiosqlite
passlib[bcrypt]
bcrypt==4.0.1

pytest
pytest-asyncio
aiosqlite
